/* Scope all styles under the .payments-report-wrapper class */
.payments-report-wrapper {
    margin-top: 40px;
    padding: 20px; /* Adjusts the margin-top for the table */
  
    .table-container {
      max-width: 100%; /* Adjust the width as needed */
      margin: 0px; /* Center the table horizontally */
    }
  
    .search-container {
      margin-top: 40px;
    }
  
    .admin-buttons {
      display: flex;
      justify-content: space-between;
    }
  
    .badge {
      padding: 0.4em 0.75em;
      font-size: 0.85rem;
      border-radius: 12px;
    }
  
    .badge-confirmed {
      background-color: #4caf50;
      color: white;
    }
  
    .badge-processing {
      background-color: #ff9800;
      color: white;
    }
  
    .badge-cancelled {
      background-color: #f44336;
      color: white;
    }
  
    .modal-input {
      margin-bottom: 1rem;
    }
  }
  