.sms-templates-container {
    padding: 20px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .modal-input {
    margin-bottom: 10px;
  }
  
  .admin-buttons {
    display: flex;
    gap: 10px;
  }
  
  .template-button {
    margin-top: 20px;
  }
  